t]
Description=My app

[Service]
ExecStart=/root/Pasante-bot/main/bot.js
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin/node
Environment=NODE_ENV=production
WorkingDirectory=/root/Pasante-bot/main

[Install]
WantedBy=multi-user.target
